<h2>Search Results</h2>

<% @results.each do |category, results| %>
  <% if results.any? %>
    <h3><%= category.to_s.humanize %> results</h3>
    <p>
      <%= link_to "See more results", search_result_path(category, location: @location) %>
    </p>
    <div class="results-container">
      <% results[0..2].each do |provider| %>
        <div class="result-item">
          <b> Provider name:</b> <%= link_to provider.provider_name, provider_path(provider.id, category: category) %><br>
          <b>Address:</b> <%= provider.street %><br>
          <b>City:</b> <%= provider.city %><br>
          <b>Description:</b> <%= provider.description[0, 100] %>...
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
