<h2>Search Results</h2>
<% if @results.urgent_care %>
  <h3>Urgent Care results</h3>
  <p>See more results</p>
  <div class="results-container">
    <% @results.urgent_care[0..2].each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description[0, 100] %>...
      </div>
    <% end %>
  </div>
<% end %>


<% if @results.crisis_hotline %>
  <h3>Crisis Hotline results</h3>
  <p>See more results</p>
  <div class="results-container">
    <% @results.crisis_hotline[0..2].each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description[0, 100] %>...
      </div>
    <% end %>
  </div>
<% end %>

<% if @results.shelter_tonight %>
  <h3>Shelter for Tonight results</h3>
  <p>See more results</p>
  <div class="results-container">
    <% @results.shelter_tonight[0..2].each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description[0, 100] %>...
      </div>
    <% end %>
  </div>
<% end %>

<% if @results.food %>
  <h3>Food results</h3>
  <p>See more results</p>
  <div class="results-container">
    <% @results.food[0..2].each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description[0, 100] %>...
      </div>
    <% end %>
  </div>
<% end %>

<% if @results.substance_use %>
  <h3>Substance Use results</h3>
  <p>See more results</p>
  <div class="results-container">
    <% @results.substance_use[0..2].each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description[0, 100] %>...
      </div>
    <% end %>
  </div>
<% end %>