<% if @results %>
  <% @results.each do |category, results| %>
    <h3><%= category.to_s.humanize %> results</h3>
    <p>
      <%= link_to "See more results", search_result_path(1, category: category, location: @location) %>
    </p>
    <div class="results-container">
      <% results[0..2].each do |provider| %>
        <div class="result-item">
          <% if provider.present? %>
            <b>Provider name:</b> <%= link_to provider.provider_name, provider_path(provider.id, category: category) %><br>
            <b>Address:</b> <a href="https://www.google.com/maps?q=<%= provider.provider_name %>,<%= provider.street %>,<%= provider.city %>,<%= provider.state %>" target="_blank"><%= provider.street %>, <%= provider.city %>, <%= provider.state %></a><br>
            <b>City:</b> <%= provider.city %><br>
            <b>Description:</b> <%= provider.description[0, 100] %>...
          <% else %>
            <!-- Handle the case where provider is nil -->
            <p>No provider information available.</p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Sorry, no results found.</p>
<% end %>
