<h2>Search Results</h2>
<% if @results.urgent_care %>
  <h3>Urgent Care results</h3>
  <p>See more results</p>
  <table>
    <tr>
      <% @results.urgent_care[0..2].each do |provider| %>
        <td style = "width: 33%; vertical-align: top; padding: 5px;" >
          <b>Provider name:</b> <%= provider.provider_name %><br />
          <b>Address:</b> <%= provider.street %><br />
          <b>City:</b> <%= provider.city %><br />
          <b>Description:</b> <%= provider.description[0,100] %>...
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @results.crisis_hotline %>
  <h3>Crisis Hotline results</h3>
  <p>See more results</p>
  <table>
    <tr>
      <% @results.crisis_hotline[0..2].each do |provider| %>
        <td style = "width: 33%; vertical-align: top; padding: 5px;" >
          <b>Provider name:</b> <%= provider.provider_name %><br />
          <b>Address:</b> <%= provider.street %><br />
          <b>City:</b> <%= provider.city %><br />
          <b>Description:</b> <%= provider.description[0,100] %>...
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @results.shelter_tonight %>
  <h3>Shelter for Tonight results</h3>
  <p>See more results</p>
  <table>
    <tr>
      <% @results.shelter_tonight[0..2].each do |provider| %>
        <td style = "width: 33%; vertical-align: top; padding: 5px;" >
          <b>Provider name:</b> <%= provider.provider_name %><br />
          <b>Address:</b> <%= provider.street %><br />
          <b>City:</b> <%= provider.city %><br />
          <b>Description:</b> <%= provider.description[0,100] %>...
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @results.food %>
  <h3>Food results</h3>
  <p>See more results</p>
  <table>
    <tr>
      <% @results.food[0..2].each do |provider| %>
        <td style = "width: 33%; vertical-align: top; padding: 5px;" >
          <b>Provider name:</b> <%= provider.provider_name %><br />
          <b>Address:</b> <%= provider.street %><br />
          <b>City:</b> <%= provider.city %><br />
          <b>Description:</b> <%= provider.description[0,100] %>...
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @results.substance_use %>
  <h3>Substance Use results</h3>
  <p>See more results</p>
  <table>
    <tr>
      <% @results.substance_use[0..2].each do |provider| %>
        <td style = "width: 33%; vertical-align: top; padding: 5px;" >
          <b>Provider name:</b> <%= provider.provider_name %><br />
          <b>Address:</b> <%= provider.street %><br />
          <b>City:</b> <%= provider.city %><br />
          <b>Description:</b> <%= provider.description[0,100] %>...
        </td>
      <% end %>
    </tr>
  </table>
<% end %>