<h2>Update password</h2>
<%= form_with model: @user, method: :patch, local: true do |form| %>
  <%= form.label :new_password %>
  <%= form.password_field :new_password, placeholder: "Enter new password" %>
  <br />
  <%= form.label :password_verify %>
  <%= form.password_field :password_verify, placeholder: "Confirm new password" %>
  <br />
  <%= form.submit "Update password" %>
<% end %>