<div class="user-login">
  <p>Need to create an account? <%= link_to "Click Here to create a user account", new_user_path %></p>
  <h2>User login</h2>

  <div id="google-oauth">
    <%= link_to image_tag('btn_google_signin_dark_normal_web.png'), '/auth/google_oauth2',  data: { "turbo": false } %>
    <p> Or enter your details: </p>
  </div>

  <%= form_with(url: users_login_path, method: :post, id: "user-login-form", local: true) do |form| %>
    <%= form.label :username, "Username" %>
    <%= form.text_field :username, placeholder: "Enter your username" %>
    <br />
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, placeholder: "Enter your password" %>
    <br />
    <%= form.submit "Login" %>
  <% end %>
</div>