<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="headerMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <% if !session[:user_id] %>
          <li class="nav-item"><%= link_to 'Create user account', new_user_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Create provider account', register_provider_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Sign in', users_login_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'View my Dashboard', user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Sign out', users_logout_path, class: "nav-link" %></li>
          
          <script>
            const inactivityTimeout = 20 * 60 * 1000; // 20 minute timeout 
            let timeout;

            // Reset the timeout whenever there is user activity.
            const resetTimeout = () => {
              clearTimeout(timeout);
              timeout = setTimeout(logout, inactivityTimeout);
            };

            // Listen for user activity events.
            document.addEventListener('mousemove', resetTimeout);
            document.addEventListener('keypress', resetTimeout);

            // Log the user out after inactivity.
            const logout = () => {
              window.location.href = '/logout?timeout=true';
            };

            resetTimeout();
          </script>
        <% end %>
      </ul>
    </div>
  </div>
</nav>