
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="headerMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <% if !session[:user_id] %>
          <li class="nav-item"><%= link_to 'Create an account', new_user_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Sign in', users_login_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'View my Dashboard', user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Sign out', users_logout_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>