<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !session[:user_id] %>
          <li><%= link_to 'Create user account', new_user_path %></li>
          <li><%= link_to 'Create provider account', register_provider_path %></li>
          <li><%= link_to 'Sign in', users_logout_path %></li>
        <% else %>
          <li><%= link_to 'View my Dashboard', user_path(current_user) %></li>
          <li><%= link_to 'Sign out', users_logout_path %></li>
        <% end %>
     </ul>
    </div>
  </div>
</nav>