<h2>Search Results</h2>
  <h3><%= @results.general_search.first.category.capitalize %> results</h3>

  <div class="results-container">
    <% @results.general_search.each do |provider| %>
      <div class="result-item">
        <b>Provider name:</b> <%= provider.provider_name %><br>
        <b>Address:</b> <%= provider.street %><br>
        <b>City:</b> <%= provider.city %><br>
        <b>Description:</b> <%= provider.description %>
      </div>
    <% end %>
  </div>
