<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Next Steps to resources like food, housing, health, and crisis services</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>

        body {
            text-align: left; 
        }
        
        header {
            text-align: left; 
        }
        main {
            text-align: left; 
        }
        
    </style>
</head>
<body>
    <header>
        <div id="app-topper">
            <h1>Next Steps</h1><br>
            <h2>Help is near!</h2>
            <%= render 'shared/navbar' %>
        </div>
    </header>
    
    <main>
        <% if flash.any? %>
            <div role="alert">
                <% flash.each do |type, msg| %>
                    <div class="alert alert-<%= type %>" aria-live="polite">
                        <%= msg.html_safe %>
                    </div>
                <% end %>
            </div>
            <script>
                // Automatically refresh the page after a flash message
                setTimeout(function() {
                    window.location.reload();
                }, 3000); // 3000 milliseconds = 3 seconds
            </script>
        <% end %>

        <%= yield %>
    </main>

    <footer>
        <div id="app-footer">
            <%= render 'shared/navbar' %>
        </div>
    </footer>
</body>
</html>
